html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

li {
  list-style: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

:root {
  --font-color: #333333;
  --accent-color: #005541;
  --grey-color: #c5c5c5;
}

body {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  background-color: #fff;
  color: var(--font-color);
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding-top: 140px;
  padding-bottom: 140px;
}

.header {
  background-color: #00261d;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  padding: 70px 0;
  align-items: center;
}

.header-list {
  display: flex;
}

.header-item:not(:last-child) {
  margin-right: 30px;
}

.header-link {
  color: #fff;
  font-weight: 600;
  border-radius: 3px;
}

.header-link:focus {
  outline: 1px solid #ffffff80;
}

.header-link:hover {
  text-decoration: underline;
}

.header-link:active {
  opacity: 0.7;
}

.hero {
  background-color: red;
}

.hero-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: calc(100vh - 193px);
}

.hero-title {
  border: 2px solid green;
  color: #fff;
  font-weight: 700;
  font-size: 90px;
  max-width: 80%;
}

.hero-subtitle {
  font-weight: 400;
  font-size: 48px;
  display: block;
}

.title {
  font-weight: 700;
  font-size: 48px;
  line-height: 130%;
  margin-bottom: 60px;
}

.text:not(:last-child) {
  margin-bottom: 30px;
}

.skills-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.skills-list {
  width: 665px;
}

.skills-item:not(:last-child) {
  margin-bottom: 86px;
}

.skills-text {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
  line-height: 1;
}

.skills-green {
  height: 32px;
  background-color: var(--accent-color);
}

.skills-grey {
  height: 32px;
  width: 90%;
  background-color: var(--grey-color);
}

.skills-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
