html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

li {
  list-style: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

:root {
  --font-color: #333333;
  --accent-color: #005541;
  --grey-color: #c5c5c5;
}

body {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  background-color: #fff;
  color: var(--font-color);
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding-top: 140px;
  padding-bottom: 140px;
}

.header {
  background-color: #00261d;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  padding: 70px 0;
  align-items: center;
}

.header-list {
  display: flex;
}

.header-item:not(:last-child) {
  margin-right: 30px;
}

.header-link {
  color: #fff;
  font-weight: 600;
  border-radius: 3px;
}

.header-link:focus {
  outline: 1px solid #ffffff80;
}

.header-link:hover {
  text-decoration: underline;
}

.header-link:active {
  opacity: 0.7;
}

.hero {
  background-image: url("../images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 38, 29, 0.5);
  z-index: -1;
}

.hero-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: calc(100vh - 193px);
}

.hero-title {
  border: 2px solid green;
  color: #fff;
  font-weight: 700;
  font-size: 90px;
  max-width: 80%;
}

.hero-subtitle {
  font-weight: 400;
  font-size: 48px;
  display: block;
}

.title {
  font-weight: 700;
  font-size: 48px;
  line-height: 130%;
  margin-bottom: 60px;
  display: inline-block;
  position: relative;
}

.title::before {
  content: "";
  display: block;
  width: 100%;
  height: 15px;
  background-color: rgba(0, 38, 29, 0.3);
  position: absolute;
  bottom: 4px;
}

.text:not(:last-child) {
  margin-bottom: 30px;
}

.skills-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.skills-list {
  width: 665px;
}

.skills-item:not(:last-child) {
  margin-bottom: 86px;
}

.skills-text {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
  line-height: 1;
}

.skills-green {
  height: 32px;
  background-color: var(--accent-color);
}

.skills-grey {
  height: 32px;
  width: 90%;
  background-color: var(--grey-color);
}

.skills-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* --------------------------------Послуги------------------------ */
.service-list {
  display: flex;
  justify-content: space-between;
}

.service-item::before {
  display: block;
  content: "";
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 30px;
}

.service-item--code::before {
  background-image: url("../images/code-icon.svg");
}

.service-item--dev::before {
  background-image: url("../images/dev-icon.svg");
}

.service-item--chat::before {
  background-image: url("../images/chat-icon.svg");
}

.service-item {
  width: calc((100% - 2 * 90px) / 3);
}

/* .service-item:not(:last-child) {
  margin-right: 90px; */

.service-subtitle {
  line-height: 1.3;
  font-weight: 600;
  font-size: 28px;
  margin-bottom: 25px;
}

.service-img {
  margin-bottom: 30px;
}

.service-text {
  font-size: 16px;
}

/*elements position*/


/*  REVIEW SECTION */


.review {
  background-color: #F6F6F8;
  text-align: center;
}
.review-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.review-content {
  width: 400px;

  font-style: italic;
    font-weight: 300;
    font-size: 24px;
    line-height: 1.3;

}

.review-photo {
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;

}
.review-autor {
  display: block;
  margin-bottom: 20px;

  font-weight: 600;
 
 color: var(--accent-color);
 font-style: normal;
}
.review-video {
  position: relative;
  display: block;
  /* justify-content: center;
  align-items: center; */
  width: 570px;
  height: 400px;
  background-image: url("../images/preview.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.review-video::before {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.review-video::after {
  content: "";
    position: absolute;
    background-image: url("../images/play.svg");
    width: 85px;
    height: 100px;
    background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);


}

