html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

li {
  list-style: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

:root {
  --font-color: #333333;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  background-color: #fff;
  color: var(--font-color);
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  background-color: #00261d;
}

.header-link {
  color: #fff;
  font-weight: 600;
  border-radius: 3px;
}

.header-link:focus {
  outline: 1px solid #ffffff80;
}

.header-link:hover {
  text-decoration: underline;
}

.header-link:active {
  opacity: 0.7;
}
